.wrapper{
    background-color: white;
    padding: 12px;
    border-radius:4px;
    box-shadow: 2px 2px 6px rgb(203, 203, 203);
}
.close-icon{
    display: block;
    margin-left: auto;
}
.wrapper>p{
    line-height:12px;
    color: rgb(39, 39, 39);
    text-align: center;
}
.get-otp-button{
    border: none;
    background-color: rgb(60, 60, 221);
    color: white;
    font-size: medium;
    padding: 4px 8px;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.loading-container{
    border: 2px solid rgb(39, 225, 39);
    background-color: rgb(255, 255, 255);
    font-size: medium;
    box-shadow: 2px 2px 5px rgb(136, 255, 136);
    padding: 2px 8px;
    border-radius: 3px;
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}
.loading-icon{
    width: 40px;
}